.header {
    background-color: green;
    border-radius: 25px;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.Mainborderpage {
    background-color: lightblue;
    border-radius: 25px;
    border: 5px solid black;
    padding: 10px;
    height: 500px;
}

#input {
    padding: 20px;
    margin-right: 20px;
}

#view {
    padding: 20px;
    margin-right: 20px;
}